<!--The content below is only a placeholder and can be replaced.-->


  <nav class="navbar navbar-expand-lg navbar-light ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" 
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/addProject" routerLinkActive="active">
                    Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addUser" routerLinkActive="active">Add User</a>
                  </li>
                <li class="nav-item">
                      <a class="nav-link" routerLink="/addTask" routerLinkActive="active">Add Task</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/viewTask" routerLinkActive="active">View Task</a>
                  </li>
            </ul>
        </div>
  </nav> 

 

<div class="container py-5" align="center">

  <router-outlet></router-outlet>

</div>

