<form (ngSubmit)="userForm.form.valid && addUser()" #userForm="ngForm" >
 <div class="col-12 col-sm-12 col-md-9 col-lg-7">
    <div class="border border-primary border-left-0 border-right-0 border-top-0">
    <div>
   
    <div class="form-group row">
    <div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
    <label for="first_name" class="text-nowrap font-weight-bold">First Name:</label>
    </div>
    <div class="col-7 col-sm-8 col-md-7 col-lg-8 col-xl-9 pl-0">
    <input type="text" name="firstName" id="firstName" required class="form-control rounded-0 bg-light"
                [(ngModel)]="user.firstName" #firstName="ngModel">
                <div class="alert alert-danger px-0 py-2" *ngIf="(userForm.submitted || firstName.dirty) && firstName.errors">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                  </div>
    </div>
    </div>
   
    
   
    <div class="form-group row">
    <div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
    <label for="first_name" class="text-nowrap font-weight-bold">Last Name:</label>
    </div>
    <div class="col-7 col-sm-8 col-md-7 col-lg-8 col-xl-9 pl-0">
     <input type="text" name="lastName" id="lastName" required class="form-control rounded-0 bg-light"
                    [(ngModel)]="user.lastName" #lastName="ngModel">
                      <div class="alert alert-danger px-0 py-2" *ngIf="(userForm.submitted || lastName.dirty) && lastName.errors">
                        <div *ngIf="lastName.errors.required">Last Name is required</div>
                      </div>
    </div>
    </div>
  
    
   
    <div class="form-group row">
    <div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
    <label for="first_name" class="text-nowrap font-weight-bold">Employee ID:</label>
    </div>
    <div class="col-7 col-sm-8 col-md-7 col-lg-8 col-xl-9 pl-0">
        <div class="d-flex flex-column px-0" align="left">
            <input type="text" name="employeeId" id="employeeId" required class="form-control w-50 rounded-0 bg-light"
                      [(ngModel)]="user.employeeId" #employeeId="ngModel">
                        <div class="alert alert-danger px-0 py-2 w-50 text-align-center" *ngIf="(userForm.submitted || employeeId.dirty) && 
                            employeeId.errors">
                          <div *ngIf="employeeId.errors.required" align="center">Employee Id is required</div>
                        </div>
                    
        </div>
    </div>
    </div>
   
    <div class="form-group row">
    <div class="col-3">
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
     <button type="submit" class="form-control btn btn-light border-dark rounded-0 px-0 px-sm-1 pr-0" 
        id="addUser" *ngIf="editUserMode=='false'">Add</button>
    <button type="submit" class="form-control btn btn-light border-dark rounded-0 px-0 px-sm-1 pr-0" id="updateUser" *ngIf="editUserMode=='true'">Update</button>
               
    </div>
    <div class="col-3">
     <button type="button" class="form-control btn btn-light border-dark rounded-0 px-0 px-sm-1 pr-0" id="resetUser" (click)="ngOnInit(); 
                  userForm.reset();">Reset</button>
    </div>
    </div>
    
    </div>
    </div>
    
    <div *ngIf="statusFlag === 1" class="alert alert-success col-8">
                {{statusMessage}}
              </div>
              <div *ngIf="statusFlag === 2" class="alert alert-danger col-8">
                {{statusMessage}}
              </div>
    
     <div class="my-2">
                  <div class="form-inline d-flex flex-nowrap justify-content-between">
                  <div class="form-group">
                  <input type="text" class="form-control-sm form-control form-control-md px-xl-2 mr-0 pl-lg-2
                       pr-lg-0 form-control-xl px-sm-1 px-md-0 rounded-0 bg-light text-black border-0" 
                        placeholder="Search..." [(ngModel)]="managerSearchName" id="managerSearchName" 
                        name="managerSearchName">
                  </div>
                  <div class="form-group">
                  <label class="control-label-sm control-label control-label-md control-label-lg mr-1 ml-1 
                      control-label-xl px-xl-2 px-lg-0 px-sm-0 font-weight-bold">Sort:</label>
                  </div>
                  <div class="form-group">
                  <button type="button" class="btn-sm btn btn-md btn-lg btn-xl px-sm-2 mr-1 px-md-1 px-xl-3 
                      pl-lg-2 btn-light rounded-0 border-dark text-dark font-weight-bold px-0" id="sortFirstName"
                      (click)="sortBy('firstName')">First Name</button>
                  </div>
                  <div class="form-group">
                  <button type="button" class="btn-sm btn btn-md btn-lg btn-xl mr-1 px-md-1 px-xl-3 px-sm-3 
                      px-lg-2 btn-light rounded-0 border-dark text-dark font-weight-bold px-0"  id="sortLastName"
                      (click)="sortBy('lastName')">Last Name</button>
                  </div>
                  <div class="form-group">
                  <button type="button" class="btn-sm btn btn-md btn-lg btn-xl mr-1 px-md-1 px-xl-3 
                      px-sm-3 px-lg-2 btn-light rounded-0 border-dark text-wrap text-dark font-weight-bold px-0"
                      id="sortEmployeeId" (click)="sortBy('employeeId')">Id</button> 
                  </div>
                  </div>
                  </div>
    
    
    <div *ngFor="let user of users | managerFilter : managerSearchName" class="border-dotted my-2 py-2">
    <div class="row">
    <div class="col-8 bg-light my-2 py-2">
    {{user.firstName}}
    </div>
    <div class="col-4">
    <button type="button" class="btn btn-light rounded-0 border-dark text-dark font-weight-bold w-100 my-2" id="editUser"
        (click)="editUser(user);">Edit</button>
    </div>
    </div>
    <div class="row">
    <div class="col-8 bg-light mb-2 py-2">
    {{user.lastName}}
    </div>
    <div class="col-4">
    <button type="button" id="deleteUser"  class="btn btn-light rounded-0 border-dark text-dark 
    font-weight-bold w-100 deleteUser" (click)="deleteUser(user);">Delete</button>
    </div>
    </div>
    <div class="row">
    <div class="col-8 bg-light mb-2 py-2">
    {{user.employeeId}}
    </div>
    </div>
    </div>
</div>
    
</form>